.payamito-awesome-support-error-field {
    background-color: #ffb7ca !important;
    border: 2px solid red !important;
}

.payamito-awesome-support-send-otp {
    padding: 18px !important;
    width: 25% !important;
    text-align: center !important;
    font-size: 20px !important;
    color: white !important;
    background-color: #409beb !important;
    cursor: pointer !important;
    border-radius:10px!important
}
.payamito-awesome-support-dispaly {
    display: none !important;
}
